body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.blockcontainer {
    height: 100vh;
    padding: 40px;
    text-align: center;
}

h1 {
    font-size: 3rem;
    color: #000000;
    margin-bottom: 10px;
    font-weight: bold;
}

p {
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 30px;
    color: #555;
}

img {
    margin: 0 !important;
    padding: 0 !important;
    width: 74px;
}

.projects {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 110px;
}

.project {
    background-color: #4A43EC;
    border-radius: 25px;
    padding: 30px;
    width: 250px;
    height: 250px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border: 9px solid #D6D4FF;
    position: relative;
}

.icon-default, .icon-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease;
}

.icon-hover {
    opacity: 0;
}

.project:hover .icon-default {
    opacity: 0;
}

.project:hover .icon-hover {
    opacity: 1;
}

.project p {
    color: #ffffff;
    font-weight: bold;
    font-size: 0.8rem;
    margin-top: 130px;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    background-color: #ffffff; /* Change background to white */
    border-color: #4A43EC; /* Change border to match the blue icon */
}

.project:hover p {
    color: #4A43EC; /* Change text color to blue */
}

@media (max-width: 768px) {
    .projects {
        flex-direction: column;
        gap: 15px;
    }

    .project {
        width: 100%;
        max-width: 250px;
        margin: 0 auto;
    }
}
